*{
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.title{
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
    width: 45%;
    text-align: center;
    background-color: #191b4f;
    color: white;
}
.content{
    margin: 0 auto;
    border: 1px #000 solid;
    width: 45%;
    text-align: center;
}
.content p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.content input{
    margin-bottom: 10px
}
.content button{
    margin-bottom: 60px;
}