<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEEEK6_ASSIGNMENT</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">歡迎光臨，這是會員頁</div>
        <div class="content_mb">{{name}}，歡迎登入系統<br>
            <form action="/signout" method="GET">
                <a href="http://127.0.0.1:3000/signout">登出系統</a>
            </form>
        </div>
        <hr>
        <div class="content_mb"><b>快來留言吧</b>
            <form action="/message" method="POST">
                內容 <input type="text" name="message">
                <input type="submit" value="送出">
            </form>
        </div>
        <hr>
        {% for cont in content%}
                <div style="text-align:center"><b>{{cont[0]}}：</b>{{cont[1]}}</div>
        {% endfor %}
        <br>
    </div>
</body>
</html>