<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week4_Flask</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">歡迎光臨，這是會員頁</div>
        <form class="content" style="height: 100px;">
            <p>恭喜您，成功登入系統</p>
            <a href="http://127.0.0.1:3000/signout">登出系統</a>
        </form>
    </div>
</body>
</html>