<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEEK6_ASSIGNMENT</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">歡迎光臨，請註冊登入系統</div>
        <div class="content">
            <p>註冊帳號</p>
            <form action="/signup" method="POST">
                姓名<input type="text" name="name" required><br>
                帳號<input type="text" name="username" required><br>
                密碼<input type="password" name="password" required><br>
                <input type="submit" value="註冊" style="margin-top: 5px;">
            </form>
        </div>
        <hr>
        <div class="content">
            <p>登入系統</p>
            <form action="/signin" method="POST">
                帳號<input type="text" name="username0"><br>
                密碼<input type="password" name="password0"><br>
                <input type="submit" value="登入" style="margin-top: 5px;">
            </form>
        </div>
    </div>
</body>
</html>